jupyter
pandas
numpy
# Set up Open Data/Socrata Connection
sodapy
# saving environment variables
python-dotenv
# For snowflake connection
# snowflake-connector-python
snowflake-connector-python[pandas]